@using Abp.Runtime.Session
@using MyCompanyName.AbpZeroTemplate.Web.Areas.qlnv.Models.Layout
@using MyCompanyName.AbpZeroTemplate.Web.Areas.qlnv.Views.Shared.Components.qlnvLogo
@model HeaderViewModel
@{
    Layout = null;
}
<a href="@Url.Action("Index", "Home", new {area = string.Empty})" target="_blank" class="brand-logo">
    @await Component.InvokeAsync(typeof(qlnvLogoViewComponent), new {logoSkin = "dark-sm"})
</a>
