@using MyCompanyName.AbpZeroTemplate.Web.Areas.qlnv.Models.Common
@model IFeatureEditViewModel
<div class="feature-tree">
    @await Html.PartialAsync("~/Areas/qlnv/Views/Common/_FeaturesTreeItem.cshtml", new FeatureTreeItemModel(Model, null))
</div>