<div class="modal-header">
    <h5 class="modal-title">
        <span>Chọn Phường Xã</span>
    </h5>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
</div>

<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__body">
            <div class="m-form m-form--label-align-right">
                <div class="row align-items-center m--margin-bottom-10">
                    <div class="col-xl-12">
                        <div class="form-group m-form__group align-items-center">
                            <div class="input-group">
                                <input type="text" id="DM_TinhThanhTableFilter" class="form-control m-input" placeholder="T&#xEC;m ki&#x1EBF;m ..." value="">
                                <span class="input-group-btn">
                                    <button id="GetDM_TinhThanhButton" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                <table id="DM_TinhThanhTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                    <thead>
                        <tr>
                            <th>
                                Thao tác
                            </th>
                            <th>Mã phường/xã</th>
                            <th>Tên phường/xã</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="modal-footer">
    <button type="button" class="btn default close-button" data-dismiss="modal">&#x110;&#xF3;ng</button>
</div>