@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <title>BDHN Management System</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <meta property="og:title" content="QLNV Management System" />
    <meta property="og:image" content="/Common/Images/app-logo-on-light.png" />
    <meta property="og:description" content="Base solution for your next web application" />
    <meta property="og:url" content="http://localhost/qlnv/DM_QuanHuyens">
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="stylesheet" href="~/crmdemo/view-resources/Areas/crm/Views/_Bundles/vendors.bundle.css?v=" />
    <link rel="stylesheet" href="~/crmdemo/metronic/dist/html/blue/assets/demo/blue/base/style.bundle.css?v=" />
    <link rel="stylesheet" href="~/crmdemo/view-resources/Areas/crm/Views/_Bundles/app-layout-libs.css?v=" />
    <link rel="stylesheet" href="~/crmdemo/view-resources/Areas/crm/Views/_Bundles/common-styles.css?v=1" />
    <link rel="stylesheet" href="~/crmdemo/Common/Scripts/Datatables/datatables.css?v=" />
    <link rel="stylesheet" href="~/crmdemo/Common/Styles/metronic-customize.css?v=2" />
    <link rel="stylesheet" href="~/crmdemo/Common/Styles/Themes/blue/metronic-customize.css?v=" />
    <link rel="stylesheet" href="~/crmdemo/Common/Styles/Themes/blue/datatables.css?v=" />
    <link rel="stylesheet" href="~/crmdemo/view-resources/Areas/crm/Views/Layout/_ChatBar.css?v=" />
    <link rel="stylesheet" href="~/crmdemo/Common/Styles/metronic-customize-top-menu.css?v=" />
    <link rel="stylesheet" href="~/crmdemo/Common/Styles/Themes/blue/metronic-customize-top-menu.css?v=" />
    <link rel="stylesheet" href="~/crmdemo/view-resources/Areas/crm/Views/Layout/_Layout.css?v=" />
    <style>

        *:not(i):not(.close):not(.fa):not(.select2-selection__arrow) {
            font-family: sans-serif !important
        }

        .modal {
            overflow-y: auto !important;
        }

        html, body {
            font-size: 12px !important;
        }

        media only screen and (max-device-width: 1919px) {
            html, body

        {
            font-size: 12px !important;
        }

        }

        media only screen and (min-device-width: 1920px) {
            html, body

        {
            font-size: 14px !important;
        }

        }

        .datatable-child-table {
            margin-top: 15px;
            margin-bottom: 15px;
        }

            .datatable-child-table tr {
                background: #fff !important;
            }

            .datatable-child-table tr {
                border-bottom: 1px solid #ccc;
            }

                .datatable-child-table tr:last-child {
                    border-bottom: none;
                }
            /*.datatable-child-table tr:first-child{
            border-top: 1px solid #ccc;
        }*/
            .datatable-child-table td {
                border: none;
            }

        tr.child:hover {
            background-color: #fff !important;
        }
    </style>
}
