
@using System.Globalization
@using MyCompanyName.AbpZeroTemplate.Web.Areas.qlnv.Models.Common.Modals
@using MyCompanyName.AbpZeroTemplate.Web.Areas.qlnv.Models.DM_TinhThanhs
@model CreateOrEditDM_TinhThanhModalViewModel

@await Html.PartialAsync("~/Areas/qlnv/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("NewDN_TinhThanhs")))

@*<div class="modal-body">
        <form name="OrganizationUnitForm" role="form" novalidate class="form-validation">
            <input type="hidden" name="ParentId" value="@Model.ParentId" />
            <div class="form-group">
                <label for="DisplayName">@L("Name")</label>
                <input id="DisplayName" class="form-control" type="text" name="DisplayName" required maxlength="@OrganizationUnit.MaxDisplayNameLength">
            </div>
        </form>
    </div>*@

<div class="modal-header">
    <h5 class="modal-title">
        <span>Cập nhật Thông tin Tỉnh thành</span>
    </h5>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
</div>

<div class="modal-body">
    <div id="DM_TinhThanhInformationsTab">
        <form name="DM_TinhThanhInformationsForm" role="form" novalidate class="form-validation">

            <input type="hidden" name="id" value="@Model.DM_TinhThanh.Id" />

            <div class="form-group m-form__group">
                <label for="DM_QuocGiaTenNuoc">Danh m&#x1EE5;c qu&#x1ED1;c gia</label>
                <div class="input-group">
                    <input class="form-control" id="DM_QuocGiaTenNuoc" name="dM_QuocGiaTenNuoc" value="VIETNAM" type="text" disabled>
                    <div class="input-group-append">
                        <button class="btn btn-primary blue" id="OpenDM_QuocGiaLookupTableButton" type="button"><i class="la la-filter"></i></button>
                    </div>
                    <div class="input-group-prepend">
                        <button class="btn btn-danger" type="button" id="ClearDM_QuocGiaTenNuocButton"><i class="la la-eraser"></i></button>
                    </div>
                </div>
            </div>

            <input class="form-control" value="4bd076b1-abca-4f8f-af15-d05d77f99636" type="text" name="iD_QuocGia" hidden />

            <div class="form-group m-form__group">
                <label for="DM_VungMienTenVung">Danh m&#x1EE5;c v&#xF9;ng mi&#x1EC1;n</label>
                <div class="input-group">
                    <input class="form-control" id="DM_VungMienTenVung" name="dM_VungMienTenVung" type="text" disabled>
                    <div class="input-group-append">
                        <button class="btn btn-primary blue" id="OpenDM_VungMienLookupTableButton" type="button"><i class="la la-filter"></i></button>
                    </div>
                    <div class="input-group-prepend">
                        <button class="btn btn-danger" type="button" id="ClearDM_VungMienTenVungButton"><i class="la la-eraser"></i></button>
                    </div>
                </div>
            </div>

            <input class="form-control" type="text" name="iD_VungMien" hidden />

            <div class="form-group">
                <label for="DM_TinhThanh_MaTinhThanh">M&#xE3; t&#x1EC9;nh th&#xE0;nh</label>
                <input class="form-control" id="DM_TinhThanh_MaTinhThanh" value="79" type="text" name="maTinhThanh" />
            </div>

            <div class="form-group">
                <label for="DM_TinhThanh_TenTinhThanh">T&#xEA;n t&#x1EC9;nh th&#xE0;nh</label>
                <input class="form-control" id="DM_TinhThanh_TenTinhThanh" value="S&#xF3;c Tr&#x103;ng" type="text" name="tenTinhThanh" required />
            </div>

            <div class="form-group">
                <label for="DM_TinhThanh_GhiChu">Ghi ch&#xFA;</label>
                <input class="form-control" id="DM_TinhThanh_GhiChu" type="text" name="ghiChu" />
            </div>

        </form>
    </div>
</div>

@*<div class="modal-footer">
        <button type="button" class="btn btn-secondary close-button" data-dismiss="modal">H&#x1EE7;y</button>
        <button type="button" class="btn btn-primary save-button"><i class="fa fa-save"></i> <span>L&#x1B0;u</span></button>
    </div>*@

@await Html.PartialAsync("~/Areas/qlnv/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")