@using Microsoft.AspNetCore.Mvc.Localization
@using MyCompanyName.Localization
@inject IHtmlLocalizer<MyCompanyNameResource> L
<a class="nav-link" role="button" href="~/Account/Login">@L["Login"]</a>
