@using MyCompanyName.AbpZeroTemplate.Authorization
@*@using MyCompanyName.AbpZeroTemplate.Web.Areas.AppAreaName.Models.Phones*@
@using MyCompanyName.AbpZeroTemplate.Web.Areas.AppAreaName.Startup

@using DevExtreme.AspNet.Mvc
@{
    ViewBag.CurrentPageName = AppAreaNamePageNames.Common.Persons;
}
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <abp-page-subheader title="@L("PhoneBook")" description="@L("PhoneBookInfo")"></abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="col-12">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    @(Html.DevExtreme()
                        .DataGrid()              
                        .DataSource(d => d.Mvc()
                            .Controller("Persons")
                            .LoadAction("LoadPeople")
                            .Key("id")
                        )
                        .Columns(columns =>
                        {
                            columns.Add()
                                .DataField("name")
                                .Caption(L("Name"));
                            
                            columns.Add()
                                .DataField("surname")
                                .Caption(L("Surname"));
                            
                            columns.Add()
                                .DataField("emailAddress")
                                .Caption(L("EmailAddress"));                       
                        })
                    )
                </div>
            </div>
        </div>
    </div>
</div>