@using MyCompanyName.AbpZeroTemplate.Authorization
@*@using MyCompanyName.AbpZeroTemplate.Web.Areas.qlnv.Models.Phones*@
@using MyCompanyName.AbpZeroTemplate.Web.Areas.qlnv.Startup

@using DevExtreme.AspNet.Mvc
@{
    ViewBag.CurrentPageName = qlnvPageNames.Common.Persons;
}
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <abp-page-subheader title="@L("PhoneBook")" description="@L("PhoneBookInfo")"></abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="col-12">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    @(Html.DevExtreme()
                        .DataGrid()
                        .Editing(editing => {
                            editing.Mode(GridEditMode.Row);
                            editing.AllowAdding(true);
                            editing.AllowDeleting(true);
                            editing.AllowUpdating(true);
                        })
                        .DataSource(d => d.Mvc()
                            .Controller("Persons")
                            .LoadAction("LoadPeople")
                            .InsertAction("CreatePerson")
                            .UpdateAction("UpdatePerson")
                            .DeleteAction("DeletePerson")
                            .Key("id")
                        )
                        .Columns(columns =>
                        {
                            columns.Add()
                                .DataField("name")
                                .Caption(L("name"));
                            
                            columns.Add()
                                .DataField("surname")
                                .Caption(L("surname"));
                            
                            columns.Add()
                                .DataField("emailAddress")
                                .Caption(L("emailAddress"));                     
                        })
                    )
                </div>
            </div>
        </div>
    </div>
</div>